@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');


html,
body,
* {
    margin: 0%;
    font-size: 16px;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: rgb(49, 135, 233);
    background-image: url('images/spongebob!.jpg');
    background-size: cover;
}

h1 {
    font-family: "Creepster", system-ui;
    font-size: 400%;
    text-align: center;
    margin-top: 30px;
}

.blog-backing {
    position: relative;
    padding: 2%;
    border: 5px solid black;
    background-image: url("images/sponge.jpg");
    background-size: cover;
    width: 625px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    text-align: center
    
}

.blog-pics {
    width: 50%;
}

.blog-pics#two{
    height: 60%;
    width: auto;
}

.blog-pics#three{
    height: 57%;
    width: auto;
}

.approved-icon{
    width: 150px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.number-label{
    font-size: 30px;
    margin-top: 20px;
}

.blog-writing{
    line-height: 1;
}

.highlighted-text{
    background-color: aqua;
}